* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
header {
  top: 0;
  position: sticky;
  display: flex;
  padding: 0 calc(50% - 720px);
  background-color: #50372B;
  color: #ffffff;
  z-index: 10000000;
}
.logo img {
  height: 70px;
}

nav {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

nav li {
  cursor: pointer;
  list-style: none;
  margin: auto 0;
  padding: 15px;
  border-radius: 5px;
}
nav li:hover {
  transition: ease .3s;
  background-color: #ffffff10;
}

.splash {
  backdrop-filter: blur(5px);
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #54545490;
  margin: 0 calc(50% - 720px);
  height: calc(100vh - 160px);
  padding: 20px;
  z-index: -1;
}

footer {
  width: 100%;
  position: static;
  bottom: 0;
  background-color: #50372B;
  color: #ffffff;
  padding: 20px calc(50% - 720px);
  text-align: center;
}